.product {
  display: flex;
  border-bottom: 1px solid lightgrey;
}
.product-name {
  color: blue;
  font-weight: 400;
}
.product-img {
  margin-left: 30px;
}
.product-detail {
  margin-left: 30px;
}
.btn-regular {
  background-color: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: 200px;
  height: 26px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 3px;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 10px;
}
.icon{
    margin-right: 10px;
}
.icon-color{
  color: gold;
}